.footer {
  &__inner {
    background-color: #728536;
    min-width: 100%;
    @media (min-width: 1200px) {
      min-width: 1368px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo-box {
    margin-top: 32px;
    width: 104px;
    height: 104px;
    margin-bottom: 32px;
  }

  &__img {
  }

  &__link-box {
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    margin-bottom: 32px;
    @media (min-width: 767.98px) {
      flex-direction: row;
      column-gap: 40px;
    }
  }

  &__item {
    text-align: center;
  }

  &__limk {
    line-height: 21px;

    color: #fff;
  }

  &__social-box {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
    margin-bottom: 32px;
    @media (min-width: 767.98px) {
      margin-bottom: 40px;
    }
  }

  &__social-img {
    width: 24px;
    height: 24px;
  }
}
